@charset "utf-8";
/* CSS Document */
@import url("topo.css");
@import url("conteudo.css");
@import url("tabelas.css");
@import url("formularios.css");
@import url("menu.css");
@import url("paginas.css");

body, html {
    width: 100%;
}

body{
	margin:0;
	padding:0;
	background-color:#1B3E68;
	font-size:12px;
	color:#000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url(../imgs/icones/fundo-body.png);
	background-position:center 143px;
	background-repeat:no-repeat;
}

h1, h2, h3, h4, h5, h6{
	color:#666;  /*#EC2227;*/
	width:950px;
	height:35px;
	line-height:35px;
	margin:0 0 30px 0;
	padding:0 0 0 50px;
	border-radius:5px;
	border-bottom:1px solid #000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px;
	float:left;
}

h1{
	margin:30px 0 30px 0;
	border:none;
}

h4, h6{
	width:350px;
	height:20px;
	line-height:20px;
	font-size:16px;
	float:left;
	margin-top:10px;
	margin-bottom:3px;
	margin-right:350px;
	border-radius:5px;
	border-bottom:1px solid #000;
}

h6{
	margin-top:30px;
}

p.left{
	float:left;
}