@charset "utf-8";
/* CSS Document */

.fundoTabela{
	width:1000px;
	border:1px solid #000;
	float:left;
	color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

.topoTabela{
	width:100%;
	height:30px;
	font-size:16px;
	line-height:30px;
	color:#FFF;
	background-color:#666; /*#EC2227;*/
	float:left;
	font-weight:bold;
	overflow:hidden;
}

.topoTabela div{
	height:30px;
	border-right:1px dotted #000;
	text-align:center;
	float:left;
	padding:0 5px 0 5px;
	background-color:#666;  /*#EC2227;*/
}

.topoTabela div:last-child, .linhasTabela div:last-child{
	border-right:none;
}

.linhasTabela{
	width:100%;	
	height:30px;
	font-size:12px;
	line-height:30px;
	color:#000;
	float:left;
	font-weight:bold;
	overflow:hidden;
}

.linhasTabela div{
	height:30px;
	border-right:1px dotted #000;
	text-align:center;
	float:left;
	padding:0 5px 0 5px;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow:hidden;
}

.linhasTabela div .action{
	margin-top:2px;
	width:26px;
	height:26px;
	cursor:pointer;
	border:none;
}

.linhasTabela:nth-child(2n+1){
	background-color:#DEDEDE;
}

.linhasTabela:hover{
	background-color:#FFFFA8;
}

.TotalIndividual{
	width:auto;
	float:left;
	padding:7px 20px 7px 20px;
	margin-top:30px;
	background-color:#CCC;
}



/*TABELAS PADRAO*/
table.tab{
	font-size:16px;
}

table.tab strong.red{
	color:#F00;
}